# This is the client ID that you obtain through https://dev.twitch.tv/.
# It is not a secret.
CLIENT_ID="blah"

# This is the client secret that you obtain through https://dev.twitch.tv/.
# ⚠️ Do not share this!
CLIENT_SECRET="blah"

# Note: "postgres" is the default database user
DATABASE_CONNECTION_STRING="postgresql://postgres:bar@localhost:5432/foo"
