# This is the client ID that you obtain through https://dev.twitch.tv/.
# It is not a secret.
CLIENT_ID="blah"

# This is the client secret that you obtain through https://dev.twitch.tv/.
# ⚠️ Do not share this!
CLIENT_SECRET="blah"

# Note: "postgres" is the default database user
DATABASE_CONNECTION_STRING="postgresql://postgres:bar@localhost:5432/foo"

# Get this by following these steps:
# https://discordjs.guide/preparations/setting-up-a-bot-application.html#your-bot-s-token
DISCORD_TOKEN="blah"

# Get this from https://discord.com/developers/applications → OAuth2 for an
# application.
DISCORD_CLIENT_ID="blah"

# Get this by right-clicking on a server and selecting "Copy Server ID".
DISCORD_GUILD_ID="blah"

# If true, we'll migrate the database on startup if needed. In that case, we'll
# use DATABASE_BACKUP_LOCATION to store a copy of the old database.
MIGRATE_DATABASE_ON_STARTUP=true

# This is where we'll save database back-ups if a migration was needed
DATABASE_BACKUP_LOCATION=
